body {
    background: linear-gradient(to right, #831b1b 10%, #ffffff 10%, #ffffff 90%, #831b1b 90%);
    color: #000000;
    font-size: 16px;
    padding: 0 10%;
}

@font-face {
    font-family: 'Destroyed Aero';
    src: url('fonts/Destroyed Aero.ttf') format('truetype');
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header-logo {
    height: 250px;
    width: auto;
    margin-right: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

h1, h3, h4, h5, h6, h2 {
    color: #831b1b;
    font-family: 'Destroyed Aero', fallback, sans-serif;
    letter-spacing: 0.15em;
    text-align: center;
}

h2 {
    padding: 20px 20px;
    font-size: 250%;
}

main {
    padding-bottom: 60px;
}

a {
    color: #da4040;
}

a:hover {
    text-decoration: underline;
}

.image-container {
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
}

.image-container figure {
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-container figcaption {
    text-align: center;
}

.line {
    height: 1px;
    background-color: #831b1b;
    width: 100%;
    margin: auto;
    padding: 5px 20px;
}

.columns {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    flex-wrap: wrap;
}

.left-column, .right-column, .left-columnB, .right-columnB {
    width: 100%;
    padding: 20px 0;
}

.left-column p, .right-columnB p {
    text-align: justify;
}

.right-column img, .left-columnB img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.padded-paragraph {
    padding: 10px 5%;
    margin: 15px; 
    text-align: justify;
}

.story-title{
    text-align: center;
}

figure h5 + p {
    margin-top: 0px;
    text-align: justify;
}
  
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #000000;
    padding: 2vh 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #ffffff;
    margin: 0;
    padding: 0 10px;
    font-size: 80%;
}


@media screen and (min-width: 481px) {
    .header-content {
        width: 70%;
    }

    .image-container {
        padding: 0 8%;
    }

    .left-column, .right-column, .left-columnB, .right-columnB {
        padding: 20px 0;
    }

    .left-column, .right-columnB {
        width: 55%;
    }

    .right-column, .left-columnB {
        width: 45%;
    }

    .padded-paragraph {
        padding-left: 130px;
        padding-right: 130px;
        font-size: 8px;
    }

    footer p {
        padding: 0;
    }

}
  
