body {
    background: linear-gradient(to right, #831b1b 10%, #342222 10%, #342222 90%, #831b1b 90%);
    color: #FFFFFF;
}
main {
    padding-bottom: 2.5%; /* Adjust this value to the height of your footer */
    margin-right: 10%;
    margin-left: 10%;
}

@media only screen and (max-width: 768px) {
    body {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, #831b1b 2.5%, #342222 2.5%, #342222 97.5%, #831b1b 97.5%);
    }
}
.customcolumns {
    display: flex;
    flex-wrap: wrap;
    padding-right:10%;
    padding-left:10%;
    padding-top:20px;
    padding-bottom:20px;
}
.panel1 {
    flex: 2 10%;
    order: 1;
}
.panel1 img {
    max-width: 100%;
    height: auto;
}


.panel2 {
    flex: 2;
    order: 2;
    padding: 20px;
    box-sizing: border-box;
    margin: auto; /* This will center the image */
}
@media screen and (max-width: 768px) {
    .panel1,
    .panel2 {
        order: 0;
        flex: 1 100%;
        
    }
    .customcolumns {
        align-items: center;
        padding: 0;
    }

}

   


  @font-face {
    font-family: 'Destroyed Aero';
    src: url('fonts/Destroyed Aero.ttf') format('truetype');
  }


  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

.header-logo {
    height: auto; /* keep this to maintain the aspect ratio of the image */
    width: 40%; /* adjust this value to change the size of the image */
    margin: auto; /* adjust this value to add some space between the image and the text */
}

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
  
  
  h1, h3, h4, h5, h6 {
    color: #bd0000;
    font-family: 'Destroyed Aero', fallback, sans-serif;
    letter-spacing: 0.15em;
    text-align: center;
  }

  h2 {
    color: #831b1b;
    font-family: 'Destroyed Aero', fallback, sans-serif;
    letter-spacing: 0.15em;
    padding: 1% 1%;
    font-size: 250%;
  }


  
  a {
    color: #da4040;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .image-container {
    display: flex;
    justify-content: space-around;
    padding: 0 3%;
  }
  
  .image-container figure {
    width: 100%;
  }
  
  .image-container img {
    width: 100%;
  }
  
  .image-container figcaption {
    text-align: center;
  }
  
  .line {
    height: 1px;
    background-color: #831b1b;
    width: 95%;
    margin: auto;
    padding: 5px 1%;
  }
  
  .columns {
    display: flex;
    justify-content: space-between;
    padding: 0 1px;
  }
  
  .left-column {
    width: 55%;
    padding: 1% 5%;
    display: block; /* This makes the image a block element, which allows us to use auto margins for centering */
    margin: auto; /* This will center the image */
  }
  
  .left-column p {
    text-align: justify;
    align-items: center;
  }
  
  .right-column {
    width: 40%;
    padding: 5px 5px;
  }

    .right-column img {
        max-width: 80%; /* This will ensure the image does not exceed the width of its container */
        display: block; /* This makes the image a block element, which allows us to use auto margins for centering */
        margin: auto; /* This will center the image */
    }

    .right-columnB {
        width: 55%;
        padding: 20px 40px;
    }
/*@media (max-width: 767px) {

    .right-column {
        width: 35%;
    }

        .right-column img {
            max-width: 100%;*/ /* Set the max-width to 100% for mobile screens */
        /*}
}*/

        .right-columnB p {
            text-align: justify;
            align-items: center;
            padding-left: 0;
        }

    .columns {
        display: flex;
        align-items: center;
    }

    .left-columnB {
        width: 45%;
    }

        .left-columnB img {
            max-width: 100%; /* This will ensure the image does not exceed the width of its container */
            display: block; /* This makes the image a block element, which allows us to use auto margins for centering */
            margin: auto; /* This will center the image */
        }

    .padded-paragraph {
        width: 75%;
        margin: 2.5% auto; /* Center the paragraph horizontally with a top and bottom margin of 60px */
        text-align: justify;
    }

    .story-title {
        padding: 0 10%;
        text-align: center;
    }

    figure h5 + p {
        margin-top: 0px; /* Adjust this value to increase or decrease the space */
        text-align: justify;
        align-items: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        background-color: #000000;
        padding: 2vh 0vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        footer p {
            color: #ffffff;
            margin: 0;
            padding: 0;
            font-size: 80%;
        }




@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
    box-sizing: border-box;
}
.carousel h2{
    padding:0 0 70px 0;
}
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: "DM Sans", sans-serif;
    transition: background 0.4s ease-in;
    background-color: #C8DBC5;
    border-radius: 2px;
}

    .carousel.color-1 {
        background-color: #C8DBC5;
    }

    .carousel.color-2 {
        background-color: #C2787E;
    }

    .carousel.color-3 {
        background-color: #AEB4D1;
    }


input[type=radio] {
    display: none;
}

.magCover {
    position: absolute;
    width: 80%;
    height: auto;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 40%;
    max-height: 80%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.mags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    width : 90%;
    height: 600px;
}


.carousel img {
    width: 100%;
    height: 100%;
}

#item-1:checked ~ .mags #mag-3, #item-2:checked ~ .mags #mag-1, #item-3:checked ~ .mags #mag-2 {
    transform: translate(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .mags #mag-2, #item-2:checked ~ .mags #mag-3, #item-3:checked ~ .mags #mag-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .mags #mag-1, #item-2:checked ~ .mags #mag-2, #item-3:checked ~ .mags #mag-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.description-box {
    background-color: #fff;
    color:#000;
    border-radius: 8px;
    height: 150px;
    width: 120%;
    padding: 16px 10px;
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    overflow: hidden;
    margin-top:10px;
}





.magazine-info {
    width: calc(100% - 32px);
    display: block;
}

.magazine-info {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
    transition: opacity 0.2s ease;
}

    .magazine-info .title {
        color: #403d40;
        font-size: 14px;
        line-height: 24px;
    }

.sub-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subtext {
    padding-right: 20px;
}

.info-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 30px;
    transition: transform 0.4s ease-in;
}

#item-1:checked ~ .description-box #mag-info-55 {
    opacity: 1;
    z-index: 1;
}

#item-2:checked ~ .description-box #mag-info-54 {
    opacity: 1;
    z-index: 1;
}

#item-3:checked ~ .description-box #mag-info-53 {
    opacity: 1;
    z-index: 1;
}
  

